@using System.Web.Optimization

<!DOCTYPE html>
<html>
<head>
	<title>Notes</title>
	<meta charset="utf-8"/>
	<meta name="viewport" content="width=device-width"/>

	<link rel="stylesheet" type="text/css" href="/client/css/app.css">

	<script src="/client/scripts/lib.js"></script>
	<script src="/client/scripts/app.js"></script>
</head>
<body>

<div id="page-placeholder"></div>

@{ Html.RenderPartial("Templates"); }

<script>
modules.require(["i-bem__dom_init"], function(init) {
	init();

	$("#page-placeholder").renderBlock("page");
});
</script>

</body>
</html>