
<script id="note-link" type="text/x-handlebem-template">
<a href="#" class="note-link i-bem" data-bem='{"note-link": {"id": {{id}} }}'>{{caption}}</a>
</script>
﻿
<script id="note-pane" type="text/x-handlebem-template">
<div class="note-pane i-bem" data-bem='{"note-pane": {}}'>
    <a href="#" class="note-pane__to-notes-list">Back to notes list</a>
    <div class="note-pane__note">{{text}}</div>
</div>
</script>
﻿
<script id="notes-links-pane" type="text/x-handlebem-template">
<div class="notes-links-pane i-bem" data-bem='{"notes-links-pane": {}}'>
    {{#each notes}}
    <div class="notes-links-pane__link">
        {{#bem-block "note-link" id=id caption=caption}}{{/bem-block}}
    </div>
    {{/each}}
</div>
</script>
﻿
<script id="page" type="text/x-handlebem-template">
<div class="page i-bem" data-bem='{"page": {}}'>
    {{#bem-block "notes-links-pane" mix="page__links"}}{{/bem-block}}
    {{#bem-block "note-pane" mix="page__note"}}{{/bem-block}}
</div>
</script>