
<script id="notes-link" type="text/x-handlebem-template">
<a href="#" data-id="{{id}}" class="notes-link">{{summary}}</a>
</script>
﻿
<script id="notes-links-pane" type="text/x-handlebem-template">
<div class="notes-links-pane">
	{{#each notes}}
	<div class="notes-links-pane__link">
		{{#bem-block "notes-link" summary=text}}{{/bem-block}}
	</div>
	{{/each}}
</div>
</script>
﻿
<script id="page" type="text/x-handlebem-template">
<div class="page">
	{{#bem-block "notes-links-pane" mix="page__links"}}{{/bem-block}}
</div>
</script>