<!DOCTYPE html>
<html>
<head>
	<title>Notes</title>
	<meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />

	<script src="/client/scripts/lib/jquery.min.js"></script>
	<script src="/client/scripts/lib/i-bem.min.js"></script>
	<script src="/client/scripts/lib/handlebars.min.js"></script>
	<script src="/client/scripts/lib/rendering.js"></script>

	<script src="/client/scripts/program.js"></script>

	<script src="/node_modules/ym/modules.js"></script>
	<script src="/client/blocks/page/page.js"></script>
	<script src="/client/blocks/notes-link/notes-link.js"></script>

	<link href="/client/css/app.css" rel="stylesheet" type="text/css">
	<link href="/client/blocks/notes-link/notes-link.css" rel="stylesheet" type="text/css">
	<link href="/client/blocks/page/page.css" rel="stylesheet" type="text/css">
</head>
<body>
    <div class="page"></div>
</body>
</html>
