@using System.Web.Optimization

<!DOCTYPE html>
<html>
<head>
	<title>Notes</title>
	<meta charset="utf-8"/>
	<meta name="viewport" content="width=device-width"/>

	@Styles.Render("~/css")

	@Scripts.Render("~/js/lib")
	@Scripts.Render("~/js/app")
</head>
<body>

<div id="page-placeholder"></div>

<script>
	(function($) {

		modules.require("i-bem__dom_init", function(init) {
			init();
		});

		modules.require(["registry"], function (registry) {
			var loads = registry.map(function(blockName) {
				var url = "/client/blocks/" + blockName + "/" + blockName + ".html";

				return $.get(url, function(html) {
					var script = document.createElement("script");
					script.id = blockName + "-template";
					script.type = "text/x-handlebem-template";
					script.text = html;

					document.body.appendChild(script);
				});
			});

			$.when.apply(null, loads).then(function () {
				$("#page-placeholder").renderBlock("page");
			});
		});

	})(jQuery);
</script>

</body>
</html>