.notes-link {
  display: block;
  border: 1px solid cornflowerblue;
  border-radius: 3px;

  padding: 10px 15px;
  text-align: left;
  font-size: 20px;

  color: cornflowerblue;
  text-decoration: none;
}
