.page_display_none .page__links,
.page_display_none .page__note {
    display: none;
}

.page_display_links .page__note {
    display: none;
}

.page_display_note .page__links {
    display: none;
}

.page__bottom {
    margin-top: 10px;

    text-align: center;
}