.note-pane__note {
    margin: 10px;
}

.note-pane__to-notes-list {
    display: block;
    margin: 10px;
}

.note-pane__text-area {
    width: 100%;
    height: 300px;

	box-sizing: border-box;

	resize: none;
}